#header {
  background: #111111;
  height: 47px;
  position: sticky;
  top: 0;
  z-index: 9999;
}

#main-footer {
  background: #111111;
  padding: 117.333px 0 88px;
}

@media (min-width: 992px) {
  #footer {
    display: flex;
    margin: 0 180px;
  }
  #footer-fourth {
    margin: 0 180px;
  }
}

@media (max-width: 992px) {
  #footer,
  #footer-fourth {
    margin: 0 24px;
  }
}
